<div class="shaker">
    <div id="template" class="dialog">
        <div class="dialog-header">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="dialog-body">
            <div id="message" style="display: none;">updating...</div>
            <button>Update</button>
        </div>
    </div>
</div>